form {
    max-width: 60%;
    border: 1px black solid;
    padding: 20px;
    background-color: #789754;
    color: white;
}

.custom {
    max-width: 60%;
    border: 1px black solid;
    padding: 20px;
    background-color: #789754;
    color: white;
}

.unsuccessful {
    display: none;
}

