<h2 class="text-center">Add a new recipe</h2>

<form (ngSubmit)="createRecipe(recipe)" class="mx-auto">  <!-- listens for submit event and runs onSubmit method when form submitted -->
    <div>
        <label for="name">Recipe name</label>
        <input [(ngModel)]="recipe.name" type="text" name="name" class="form-control">
    </div>

    <div>
        <label for="instructions">Cooking instructions</label>
        <textarea [(ngModel)]="recipe.instructions" name="instructionss" class="form-control"></textarea>
    </div>
    
    <div>
        <label for="imageUrl">Image Url</label>
        <input [(ngModel)]="recipe.imageUrl" type="text" name="imageUrl" class="form-control">
    </div>

    <div>
        <label for="sourceUrl">Recipe source link</label>
        <input [(ngModel)]="recipe.sourceUrl" type="text" name="sourceUrl" class="form-control">
    </div>
   
    <input class="mt-2" type="submit" value="Next">
</form>
