<p>create-recipe works!</p>

<h2>Add a new recipe</h2>

<form (ngSubmit)="createRecipe(recipe)">  <!-- listens for submit event and runs onSubmit method when form submitted -->
    <div>
        <label for="name">Recipe name</label>
        <input [(ngModel)]="recipe.name" type="text" name="name">
    </div>

    <div>
        <label for="instructions">Cooking instructions</label>
        <input [(ngModel)]="recipe.instructions" type="text" name="instructionss">
    </div>
    
    <div>
        <label for="imageUrl">Image Url</label>
        <input [(ngModel)]="recipe.imageUrl" type="text" name="imageUrl">
    </div>

    <div>
        <label for="sourceUrl">Recipe source link</label>
        <input [(ngModel)]="recipe.sourceUrl" type="text" name="sourceUrl">
    </div>
   
    <input type="submit" value="submit">
</form>
