<h2 class="text-center m-4">Log in to your account</h2>

<form (ngSubmit)="loginUser()" class="mx-auto">
    <div>
        <label for="emailAddress">Email</label>
        <input [(ngModel)]="credentials.emailAddress" type="text" name="emailAddress" class="form-control">
    </div>
    <div>
        <label for="password">Password</label>
        <input [(ngModel)]="credentials.password" type="text" name="password" class="form-control">
    </div>

    <input class="mt-2" type="submit" value="submit">
</form>