<div class="mt-5 mx-auto">
  <img [src]="recipe.imageUrl" />
  <section class="d-flex justify-content-center align-items-center">
      <h3 class="mt-2 mb-2">{{ recipe.name }}</h3>
      <img
        (click)="saveRecipe()"
        class="custom-heart"
        src="/assets/heart.png"
      />
  </section>
  <p class="fw-bold">Ingredients:</p>
  <p *ngFor="let item of recipe.ingredients" class="m-0">{{ item }}</p>

  <p class="fw-bold mt-2 text-center">Instructions:</p>
  <p [innerHTML]="recipe.instructions"></p>
  <!-- Display instructions as innerHTML since the api has it in html format using <ol> <li> tags  -->
</div>
