<p>register works!</p>

<h2>Create an account</h2>

<form>
    <div>
        <label for="name">Name</label>
        <input [(ngModel)]="name" type="text" name="name">
    </div>

    <div>
        <label for="emailAddress">Email</label>
        <input [(ngModel)]="emailAddress" type="text" name="emailAddress">
    </div>
    
    <div>
        <label for="password">Password</label>
        <input [(ngModel)]="password" type="text" name="password">
    </div>
   
    <input type="submit" value="submit">
</form>
